<!doctype html>
<html lang="en">
  <head>
    <!--  meta tags (meta tags generate) -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Quick">
    <meta name="description" content="personal portfolio">
    <meta name="keywords" content="html ,portfolio">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Bablu">
    <!-- CSS links-->
    <link rel="stylesheet" href="css/bootstrap.css">
     <link rel="stylesheet" href="css/style.css">
     <link rel="stylesheet" href="css/media.css">
    <title>Quick</title>
  </head>
  <body>
    <!--container zaiga faka kore bose-->
   <section>
      <div class="container">
        <div class="row">
          <div class="box"></div>
        </div>
      </div>
    </section>
     <!--container-fluid full space niye bosbe-->
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="box"></div>
        </div>
      </div>
    </section>
      <!--container lg col use -->
    <section>
     <div class="container">
       <div class="row">
         <div class="col-lg-6">
           <div class="boxx"></div>
         </div>
         <div class="col-lg-6">
          <div class="boxx"></div>
        </div>
       </div>
     </div>
    </section>
       <!--container lg col use -->
       <section>
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="boxx"></div>
            </div>
            <div class="col-lg-4">
             <div class="boxx"></div>
           </div>
           <div class="col-lg-4">
            <div class="boxx"></div>
          </div>
          </div>
        </div>
       </section>
            <!--container lg col flex -->
            <section>
              <div class="container">
                <div class="row">
                  <div class="col-lg">
                    <div class="boxx"></div>
                  </div>
                  <div class="col-lg">
                   <div class="boxx"></div>
                 </div>
                 <div class="col-lg">
                    <div class="boxx"></div>
                 </div>
                 <div class="col-lg">
                    <div class="boxx"></div>
                 </div>
                 <div class="col-lg">
                   <div class="boxx"></div>
                 </div>
                </div>
              </div>
             </section>
    <!--container lg col use -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6 col-12">
            <div class="boxx"></div>
          </div>
          <div class="col-lg-2 col-sm-6 col-6">
           <div class="boxx"></div>
         </div>
         <div class="col-lg-5 col-sm-12 col-6">
          <div class="boxx"></div>
        </div>
        </div>
      </div>
    </section>
     <!--grid layout-->
    <section>
      <div class="container">
        <div class="row">
          <h3 >Setting One Coloum width</h3>
          <div class="col-lg-2 ">
            <div class="box"></div>
          </div>
          <div class="col-lg-8  ">
            <div class="boxx"></div>
         </div>
          <div class="col-lg-2 ">
            <div class="boxx"></div>
          </div>
          <div class="col-lg-6 ">
            <div class="box"></div>
          </div>
          <div class="col-lg-4  ">
            <div class="boxx"></div>
         </div>
          <div class="col-lg-2 ">
            <div class="box"></div>
          </div>
       </div>
      </div>
    </section>
   <section>
    <div class="container">
    <div class="row justify-content-md-center">
       <h3 >Variable Coloum width</h3>
      <div class="col col-lg-2">
        <div class="boxx"></div>
      </div>
      <div class="col-md-auto">
        <div class="box"></div>
      </div>
      <div class="col col-lg-2">
        <div class="box"></div>
      </div>
    </div>
</section>
<section>
  <div class="container">
    <h3 >Row Coloum </h3>
    <div class="row row-cols-2">
     
      <div class="col">
        <div class="box"></div>
      </div>
      <div class="col">
        <div class="boxx"></div>
      </div>
      <div class="col">
        <div class="boxx"></div>
      </div>
      <div class="col">
        <div class="box"></div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container ">
    <h3 >Nesting </h3>
    <div class="row ">
      
      <div class="col-lg">
         <div class="box"></div>
      </div>
      <div class="col-lg-7 bg-dark">
        <div class="row">
            <div class="col-lg-6">
              <div class="boxx"></div>
            </div>
           <div class="col-lg-6">
             <div class="boxx"></div>
          </div>
       </div>
     </div>
      <div class="col-lg">
        <div class="box"></div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container">
    <h3 >Vertical aliment </h3>
    <div class="row align-items-start b_height mt-2">
       <div class="col-lg-4 ">
        <div class="boxx"></div>
      </div>
      <div class="col-lg-4">
        <div class="boxx"></div>
      </div>
     <div class="col-lg-4">
      <div class="boxx"></div>
     </div>
    </div>
    <div class="row align-items-center b_height mt-2">
      <div class="col-lg-4">
       <div class="boxx"></div>
     </div>
     <div class="col-lg-4">
       <div class="boxx"></div>
     </div>
    <div class="col-lg-4">
     <div class="boxx"></div>
    </div>
   </div>
   <div class="row align-items-end b_height mt-2">
    <div class="col-lg-4">
     <div class="boxx"></div>
   </div>
   <div class="col-lg-4">
     <div class="boxx"></div>
   </div>
  <div class="col-lg-4">
   <div class="boxx"></div>
  </div>
 </div>
  </div>
</section>
<section>
  <div class="container">
    <h3 >Vertical aliment </h3>
    <div class="container">
      <div class="row b_height" >
        <div class="col align-self-start">
          <div class="boxx"></div>
        </div>
        <div class="col align-self-center">
          <div class="boxx"></div>
        </div>
        <div class="col align-self-end">
          <div class="boxx"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row justify-content-start mt-5">
      <div class="col-4">
        <div class="box"></div>
      </div>
      <div class="col-4">
        <div class="boxx"></div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="box"></div>
      </div>
      <div class="col-4">
        <div class="boxx"></div>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-4">
        <div class="box"></div>
      </div>
      <div class="col-4">
        <div class="boxx"></div>
      </div>
    </div>
    <div class="row justify-content-around">
      <div class="col-4">
        <div class="box"></div>
      </div>
      <div class="col-4">
        <div class="boxx"></div>
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="col-4">
        <div class="boxx"></div>
      </div>
      <div class="col-4">
        <div class="box"></div>
      </div>
    </div>
    <div class="row justify-content-evenly">
      <div class="col-4">
        <div class="boxx"></div>
      </div>
      <div class="col-4">
        <div class="box"></div>
      </div>
    </div>
  </div>
</section>
<!--form-->
<section>
<div class="container">
  <form class="row mt-5 needs-validation" novalidate>
    <!--first Name-->
      <div class="col-md-6">
        <label for="name1" class="form-label">First Name</label>
        <input type="text" class="form-control" id="name1" placeholder="Enter your name" required>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please write your first name.
        </div>
      </div>
      <!--Last  name-->
      <div class="col-md-6">
        <label for="name1" class="form-label">User Name</label>
        <input type="text" class="form-control" id="name1" placeholder="Enter your user name" required>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please write your user name.
        </div>
      </div>
      <!--User Email-->
      <div class="col-md-12">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" placeholder="Enter your email" required>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please your email.
        </div>
      </div>
      <div class="col-12 mt-2">
        <button class="btn btn-success form-control" type="submit">Submit </button>
      </div>
  </form>
 </div>
</section>

<!--utlities-->
<section>
<div class="container">
  <div class="row mt-3">
    <h3>Utitilies</h3>
    <div class="p-3 mt-3 bg-primary text-white ">.bg-primary</div>
    <div class="p-3 mb-2 bg-transparent text-dark">.bg-transparent</div>
    <h3>Opacity</h3>
    <div class="bg-success p-2 text-white">This is default success background</div>
<div class="bg-success p-2 text-white bg-opacity-75">This is 75% opacity success background</div>
<div class="bg-success p-2 text-dark bg-opacity-50">This is 50% opacity success background</div>
<div class="bg-success p-2 text-dark bg-opacity-25">This is 25% opacity success background</div>
<div class="bg-success p-2 text-dark bg-opacity-10">This is 10% opacity success background</div>
<h3>Border color</h3>
<div class=" pb-2 mb-4 text-danger border-bottom border-danger box rounded-top">
  <h3 class="pt-2">Dangerous heading</h3>
</div>
<div class="pb-2 mb-4 text-primary border-top border-end border-primary boxx rounded-end">
   <h3 class="pt-2">Dangerous primary</h3>
</div>
<div class=" pb-4 mb-4 text-success border-end border-success box rounded-bottom">
  <h3 class="pt-2"> Dangerous success</h3>
</div>
  </div>
</div>
<!--display inline or block-->
<h3 class="pt-2">Display</h3>
<div class="d-inline p-2 bg-primary text-white">d-inline</div>
<div class="d-inline p-2 bg-dark text-white">d-inline</div>
</section>
<!--d-flex-->
<section>
  <div class="d-flex p-2 box mt-3">I'm a flexbox container!</div>
  <div class="d-inline-flex p-2 boxx">I'm an inline flexbox container!</div>
  <h3 class="pt-2">Direction </h3>
<div class="bg ">
  <div class="d-flex flex-row mb-2 pt-2 bg-dark">
    <div class="p-2 box">Flex item 1</div>
    <div class="p-2 boxx">Flex item 2</div>
    <div class="p-2 box">Flex item 3</div>
  </div>
  <div class="d-flex flex-row-reverse mb-3 pt-3 bg-dark">
    <div class="p-2 boxx">Flex item 1</div>
    <div class="p-2 box">Flex item 2</div>
    <div class="p-2 boxx">Flex item 3</div>
  </div>
  <!--jusrify content-->
  <h3 class="pt-2">justifiy content of flex </h3>
  <div class="d-flex justify-content-start box  mt-3">
    <div class="pt-2 boxxx">Item-start1</div>
    <div class="pt-2 boxx">Item-start2</div>
    <div class="pt-2 boxxx">Item-start3</div>
  </div>
  <div class="d-flex justify-content-end box  mt-3">
    <div class="pt-2 boxx">Item-start1</div>
    <div class="pt-2 boxxx">Item-start2</div>
    <div class="pt-2 boxx">Item-start3</div>
  </div>
  <div class="d-flex justify-content-center box  mt-3">
    <div class="pt-2 boxxx">Item-start1</div>
    <div class="pt-2 boxx">Item-start2</div>
    <div class="pt-2 boxxx">Item-start3</div>
  </div>
  
  <div class="d-flex  justify-content-between box  mt-3">
    <div class="pt-2 boxx">Item-start1</div>
    <div class="pt-2 boxx">Item-start2</div>
    <div class="pt-2 boxx">Item-start3</div>
  </div>
  <div class="d-flex justify-content-around box  mt-3">
    <div class="pt-2 boxx">Item-start1</div>
    <div class="pt-2 boxx">Item-start2</div>
    <div class="pt-2 boxx">Item-start3</div>
  </div>
  <div class="d-flex justify-content-evenly box  mt-3">
    <div class="pt-2 border-primary boxx">Item-start1</div>
    <div class="pt-2 boxx">Item-start2</div>
    <div class="pt-2 boxx">Item-start3</div>
  </div>
</section>
<!--algin item-->
<section>
  <h3 class="pt-2">Align item of flex </h3>
  <div class="d-flex align-items-start boxx  ">
    <div class="boxxx">Item-start2</div>
    <div class=" bg-success">Item-start2</div>
  </div>
<div class="d-flex align-items-end boxx ">
  <div class=" bg-success">Item-start2</div>
  <div class="boxxx">Item-start2</div>
</div>
<div class="d-flex align-items-center boxx ">
  <div class=" boxxx">Item-start2</div>
  <div class=" bg-success">Item-start2</div>
</div>
<div class="d-flex align-items-baseline boxx  ">
  <div class=" bg-success">Item-start2</div>
  <div class=" boxxx">Item-start2</div>
</div>
<div class="d-flex align-items-stretch boxx  ">
  <div class=" boxxx">Item-start2</div>
  <div class="bg-success">Item-start2</div>
</div>
</section>
<!--flext fill-->
<section>
  <h3>Flex fill</h3>
  <div class="d-flex mb-3">
    <div class="p-2 flex-fill bg-primary">Flex item with a lot of content</div>
    <div class="p-2 flex-fill bg-success">Flex item</div>
    <div class="p-2 flex-fill bg-primary">Flex item</div>
  </div>
  <!--grow shrink-->
  <h3>Flex fill</h3>
  <div class="d-flex mt-3">
    <div class="p-2 flex-grow-1 bg-success">Flex item</div>
    <div class="p-2 bg-primary">Flex item</div>
    <div class="p-2 bg-success">Third flex item</div>
  </div>
</section>
<!--auto margin-->
<section>
  <h3>Auto margin</h3>
  <div class="d-flex mb-3">
    <div class="p-2 bg-primary">Flex item</div>
    <div class="p-2 bg-success">Flex item</div>
    <div class="p-2 bg-primary">Flex item</div>
  </div>
  <div class="d-flex mb-3">
    <div class="me-auto p-2 bg-success">Flex item</div>
    <div class="p-2 bg-primary">Flex item</div>
    <div class="p-2 bg-success">Flex item</div>
  </div>

<div class="d-flex mb-3">
  <div class="p-2 bg-primary">Flex item</div>
  <div class="p-2 bg-success">Flex item</div>
  <div class="ms-auto p-2 bg-primary">Flex item</div>
</div>
</section>
<!--order-->
<section>
  <h3>Order</h3>
  <div class="d-flex flex-nowrap bg-success mb-3">
    <div class="order-3 p-2 bg-primary">First flex item</div>
    <div class="order-2 p-2 bg-dark">Second flex item</div>
    <div class="order-1 p-2 bg-primary">Third flex item</div>
  </div>
</section>
<!--align content-->
<section>
  <div class="d-flex align-content-start flex-wrap">
   <div class="bg-dark">Item</div>
   <div class="bg-success">Item</div>
   <div class="bg-primary">Item</div>
   <div class="bg-dark">Item</div>
   <div class="bg-success">Item</div>
   <div class="bg-primary">Item</div>
   <div class="bg-dark">Item</div>
          <div class="bg-success">Item</div>
   <div class="bg-primary">Item</div>
   <div class="bg-dark">Item</div>
   <div class="bg-success">Item</div>
   <div class="bg-primary">Item</div>
  <div class="bg-dark">Item</div>
  <div class="bg-success">Item</div>
   <div class="bg-primary">Item</div>

  </div>
</section>
    <!--table-->
    <section>
      <div class="table-responsive">
        <h3>Datatable</h3>
        <table class="datatable table  table-bordered table-striped">
               <thead>
                 <tr class="table-success">
                         <th>Serial No</th>
                         <th>First Name</th>
                        <th>User Name</th>
                         <th>Email</th>
                  </tr>
                  
                 <!--<tr ng-show="" class="table-warning">
                    <th class="p-0 m-0">1</th>
                    <th class="p-0 m-0">
                        <input ng-model="" placeholder="First name" type="text" style="width: 100% !important; border-radius:0;" />
                    </th>
                    <th class="p-0 m-0">
                        <input ng-model="" placeholder="User name" type="text" style="width: 100% !important; border-radius:0;" />
                    </th>
                    <th class="p-0 m-0">
                        <input ng-model="" placeholder="Email" type="text" style="width: 100% !important; border-radius:0;" />
                    </th>
                    <th class="p-0 m-0"></th>
                </tr>
                <tr ng-show="" class="table-secondary">
                  <th class="p-0 m-0">2</th>
                  <th class="p-0 m-0">
                      <input ng-model="" placeholder="First name" type="text" style="width: 100% !important; border-radius:0;" />
                  </th>
                  <th class="p-0 m-0">
                      <input ng-model="" placeholder="User name" type="text" style="width: 100% !important; border-radius:0;" />
                  </th>
                  <th class="p-0 m-0">
                      <input ng-model="" placeholder="Email" type="text" style="width: 100% !important; border-radius:0;" />
                  </th>
                  <th class="p-0 m-0"></th>
              </tr>--> 
               </thead > 
               <tbody class="table-secondary">
                 <tr>
                 <td>1</td>
                  <td>Bablu Hosen</td>
                  <td>Bablu</td>
                  <td>bablusbc@gmail.com</td>
                </tr>
                <tr class="table-warning">
                  <td>2</td>
                   <td>Babul Hosen</td>
                   <td>Babul12</td>
                   <td>bablusbc@gmail.com</td>
                 </tr>
               </tbody>
               
    </section>
    <!-- script links -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>